<robot xmlns:drake="drake.mit.edu" name="mug_2_decomp">
  <link name="mug_2_decomp_body_link">
    <inertial>
      <origin xyz="4.60E-02 4.13E-02 -1.29E-01" rpy="0 0 0"/>
      <mass value="2.00E-01"/>
      <inertia ixx="3.4926E-04" ixy="-4.9590E-13" ixz="-2.1332E-11" iyy="2.9479E-04" iyz="-9.9779E-06" izz="2.4863E-04"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_visual.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00"/>
      </geometry>
      <material name="">
        <color rgba="8.00E-01 8.00E-01 8.00E-01 1.00E+00"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_0.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_1.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_2.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_3.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_4.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_5.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_6.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_7.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_8.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_9.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_10.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_11.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_12.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_13.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="mug_2_decomp_convex_piece_14.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00">
          <drake:declare_convex/>
        </mesh>
      </geometry>
    </collision>
  </link>
</robot>
